NODE_ENV=dev
BASE_URL=http://127.0.0.1
SERVER_PORT=7010

APP_NAME=node_starter
APP_VERSION=1.1

API_BASE=/v1/
DEFAULT_TIMEZONE=Europe/Prague

AUTH_ENABLED=true

JWT_SECRET=ogA9ppB$S!dy!hu3Rauvg!L96
JWT_EXPIRE=86400
JWT_EMAIL_SECRET=SDchs983GDS$DJssd34scxj
JWT_EMAIL_EXPIRE=300

DB_HOST=127.0.0.1
DB_PORT=27017
DB_NAME=starter
DB_USER=root
DB_PASSWORD=root
DB_AUTH=true

LOG_FILE_NAME=app-%DATE%.log
LOG_FILE_DIR=../../log

MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_HOST=
MAIL_PORT=

WEB_APP_URL=http://localhost:3000
RESET_PASSWORD_PATH=reset-password
CONFIRM_ACCOUNT_PATH=confirm-account
