<div class="flex-center position-ref full-height">
    <div class="top-right links">
        <a href="/login">Login</a>
        <a href="/register">Register</a>
    </div>

    <div class="content">
        <div class="title m-b-md">
            {{ appName }}
        </div>

        <div class="links">
            <a href="/api/documentation">Documentation</a>
            <a href="https://github.com/tericcabrel/microservice-starter">GitHub</a>
        </div>
    </div>
</div>
